@mixin dropdown-colors($brand-color, $dropdown-header-color, $dropdown-color, $background-color ) {
    background-color: $brand-color;

    &:before{
        color:  black;
    }

    .dropdown-header:not([href]):not([tabindex]){
        color:  black;
    }

    .dropdown-item{
        color:  black;

        &:hover,
        &:focus{
            background-color:  black;
        }
    }

    .dropdown-divider{
        background-color:  black;
    }
}
